/* bebug rules */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
    
ul, ol, menu { 
    list-style: none;
}

img {
    max-width: 100%;
}
    
a {
    text-decoration: none;
    color: currentColor;
}

/* layout */
/* main */
main {
    height: calc(100vh - 70px);
    overflow: auto;
}

.row {
    display: flex;
}

/* main sidebar */
.header {
    height: 100%;
    background-color: black;
}

.sidebar {
    color: white;
    width: 200px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.button, .data {
    color: white;
}

/* main button */
.viewport-element {
background-color: blue;
}

.button {
    background-color: rgb(12, 12, 173);;
    height: 50px;
}

/* main text */
.info .col {
    width: calc(100% / 4);
    border-left: 2px solid white;
}


/* footer */
.footer {
    background-color: grey;
    color: white;
    justify-content: space-between;
    height: 70px;
}

.footer ul {
    display: flex;
    gap: 10px;
}

.left {
    padding-left: 10px;
}

.right {
    padding-right: 10px;
}

/* style */
footer {
    height: 70px;
    background-color: gray;
}


